!!! 5
head
  script(src='js/socket.io.min.js')
  script(type="text/javascript",src="js/client.js")

body
      p
      input(type='button',name='login',onclick='test_login()',value='login(测试)')
      p
      div("测试页")